- if @bad.errors.any?
  %h2 The following errors prevented the article from saving:
  %ul
    - @error.errors.full_messages.each do |msg|
      %li= msg
= form_for @bad do |f|
  %p
    = f.label :Who_is_the_user?
    %br/
    = f.text_field :user
  %p
    = f.label :What_are_you_reporting_them_for?
    %br/
    = f.text_area :what
  %p
    = f.submit "Report User", data: { confirm: 'Are you sure?' }, class: "button"
