.grid-x
  .medium-6.cell.space
    %h3 Send your message
    .content-desktop
      = form_for [@conversation, @message] do |f|
        .field
          = f.text_field  :body, placeholder: "Your message"
        = f.submit "Send", class: "button"
        %br/
        = link_to "Back", conversations_path, class: "button"
    %br/
    .content-desktop
      %h5 Other Conversations
      - @conversations.each do |conversation|
        .callout
          %h6= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation)
          - if !conversation.unread_message_count(current_user).zero?
            (#{conversation.unread_message_count(current_user)})
  .medium-6.cell.space
    %div{id: "messages#{@conversation.id}"}
    = render @messages
    .content-mobile
      .send
        = form_for [@conversation, @message] do |f|
          .field
            = f.text_field :body, placeholder: "Your message"
        = link_to "Back", conversations_path, class: "backconvo"
