.grid-x
  .medium-6.cell
    .content-desktop
      %h3 Send a message
      = form_for [@conversation, @message] do |f|
        .field
          = f.text_area :body, placeholder: "Your message"
        = f.submit "Send", class: "button"
        %br/
        = link_to "Back", conversations_path, class: "button"
      %br/
    .content-desktop
      %h5 Other Conversations
      - @conversations.each do |conversation|
        .callout
          %h6= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation)
          - if !conversation.unread_message_count(current_user).zero?
            (#{conversation.unread_message_count(current_user)})
  .medium-6.cell
    %div{id: "messages#{@conversation.id}"}
    = render @messages
    .send
      = form_for [@conversation, @message] do |f|
        .field
          = f.text_area :body, placeholder: "Your message"
        = f.submit "Send"
