%h1 Conversations
// %h5 Clear Messages older than 7 days
// = link_to "Remove Old Messages", Message.where('created_at < ?', 1.week.ago).delete_all
%table
  %thead
    %tr
      %th Id
      %th Sender Id
      %th Reciver Id
      %th Messages
      %th Remove

  %tbody
    - @conversations.each do |conversation|
      %tr
        %td= conversation.id
        %td= conversation.sender_id
        %td= conversation.receiver_id
        %td= conversation.messages.count
        %td= link_to 'Destroy', admins_conversations_path, data: { confirm: 'As of right now use rails c to delete conversations' }
