%h1 All users
- @users.each do |u|
  .callout
    Username =
    = u.username
    %br/
    Email =
    = u.email
    %br/
    Bio =
    = u.body
    %br/
    Role =
    = u.role
    %br/
    - if current_user.role == "admin"
      - unless u == current_user
        Delete user
        %br/
        %h6= link_to "Delete", user_path(u), method: :delete, data: { confirm: "Really delete this user? What did they do." }

  %br
