.grid-x
  .medium-4.cell
    %h3 All users = #{@users.each.count}
    - @users.each do |u|
      .callout
        Username =
        = u.username
        %br/
        Email =
        = u.email
        %br/
        Phone Number =
        = u.phone
        %br/
        Bio =
        = u.body
        %br/
        Role =
        = u.role
        %br/
        - if current_user.role == "admin"
          - unless u == current_user
            Delete user
            %br/
            %h6= link_to "Delete", user_path(u), method: :delete, data: { confirm: "Really delete this user? What did they do." }

      %br
  .medium-4.cell
    %h3 All Conversations = #{@conversations.each.count}
    %p
      %b Only Delete If Its Making Proploms.
    - @conversations.each do |c|
      .callout
        Sender =
        = c.sender.username
        %br/
        Receiver =
        = c.receiver.username
        %br/
        = link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }
  .medium-4.cell
    %h3 All Chat Rooms = #{@rooms.each.count}
    - @rooms.each do |c|
      .callout
        Rooms Name =
        = c.name
        %br/
        = link_to "Destory", c, method: :delete, data: { confirm: "Are you sure?"}
  .medium-6.cell
    %h3 Users who are banned.
    - @users.each do |u|
      - if u.role == 'bad_user'
        .callout
          = u.username
          %br/
          To unblock follow the same steps as blocking but this time have the inside of these "" blank.
