.grid-x
  .medium-4.cell
    - if user_signed_in?
      %h3= @user.username
      - if @user.avatar.attached?
        = image_tag @user.avatar.variant(resize_to_fill: [150, 150])
      %section.stats= render 'shared/stats'
      %h5 Create your own!!
      %h5= link_to "Click Here", new_article_path, class: "button"
    - else
      %h3 #{link_to "Sign in", new_user_session_path} to create a article.

  .medium-8.cell
    %h1 All Articles
    - @articles.each do |article|
      .callout
        = link_to user_path(article.user), class: "box" do
          = image_tag article.user.avatar.variant(resize_to_fill: [60, 60]) if article.user.avatar.attached?
        = article.user.username
        article
        %br/
        Article's Title =
        = article.title
        %br/
        Article's Description =
        = article.description
        %br/
        Article's type of article =
        = article.articleused
        %br/
        Sources =
        = article.sources
        %br/
        How long ago the article was created at
        = time_ago_in_words(article.created_at)
        %br/
        To read the article
        = link_to 'Read', article_path(article)
        %br/
        = link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "dude" if current_user?(article.user)
        %br/
