%h1 #{@article.title}
%br/
%p Description:
%p= @article.description
%br/
%p Type:
%p= @article.articleused
%br/
%p Content:
%p= @article.content
%br/
.noprint
  - else
    %p #{link_to "Sign in", new_user_session_path} to leave some feedback.
  %p
    = link_to "Print this Page", "javascript:print()", class: "button"
  - if user_signed_in?
    %p
      = link_to "Edit", edit_article_path(@article), class: "button" if current_user?(@article.user)
  %p
    = link_to 'Back', articles_path, class:"button"
