%h1 #{@article.title}
%br/
%p Description:
%p= @article.description
%br/
%p Type:
%p= @article.articleused
%br/
%p Content:
%p= @article.content
%br/
%p To read more articles come back to Lion Socail
.noprint
  = render 'feedbacks/form'

  %h3
    Feedback (#{@article.feedbacks.count})
  - if user_signed_in?
    - @article.feedbacks.each do |feedback|
      - if feedback.persisted?
        .callout
          = feedback.user.username
          %br/
          = feedback.body
          %br/
          = link_to 'Delete', [feedback.article, feedback], :method => :delete,
          data: { confirm: 'Are you sure?' } if current_user == feedback.user
  - else
    %p #{link_to "Sign in", new_user_session_path} to leave some feedback.
  %p
    = link_to "Print this Page", "javascript:print()", class: "button"
  - if user_signed_in?
    %p
      = link_to "Edit", edit_article_path(@article), class: "button" if current_user?(@article.user)
  %p
    = link_to 'Back', articles_path, class:"button"
