.grid-x
  .medium-6.cell
    %h3 Current Conversations for #{current_user.username}
    - @conversations.each do |conversation|
      .callout
        %h6= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation)
        - if !conversation.unread_message_count(current_user).zero?
          (#{conversation.unread_message_count(current_user)})
        %br/
        %p= link_to 'Delete Conversation', conversation, method: :delete, data: { confirm: 'Are you sure?' }
  .medium-6.cell
    %h3 All Users
    - @users.each do |user|
      .callout
        // %p= online_status user
        %p= user.username
        %h6= link_to "Enter/Start the conversation", conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post
