- if current_user.role == "admin"
  %h1 People who think they shouldn't be banned
  - @bads.each do |bad|
    .callout
      Username =
      = bad.username
      %br/
      Why =
      = bad.explain
      %br/
      = time_ago_in_words(bad.created_at)
      ago
      %br/
      = link_to 'Destroy', bad, method: :delete, data: { confirm: 'Are you sure?' }
- else
  = link_to 'Back', root_path, class: "button"
