- if @disable.errors.any?
  %h2 The following errors prevented the about page from saving:
  %ul
    - @disable.errors.full_messages.each do |msg|
      %li= msg
= form_for @disable do |f|
  .grid-x
    .medium-2.cell
      %p
        = f.label :Disable_Posts
        %br/
        = f.text_field :postdisable
    .medium-2.cell
      %p
        = f.label :Disable_Messages
        %br/
        = f.text_field :conversationdisable
    .medium-2.cell
      %p
        = f.label :Disable_Articles
        %br/
        =f.text_field :articledisable
    .medium-2.cell
      %p
        = f.label :Disable_Chat_Rooms
        %br/
        = f.text_field :chatroomdisable
    .medium-2.cell
      %p
        = f.label :Disable_Stories
        %br/
        = f.text_field :storydisable
    .medium-2.cell
      %p
        = f.label :Site_Disable
        %br/
        = f.text_field :homedisable
  %p
    = f.submit class: "button"
