= form_for user do |f|
  - if f.object.errors.any?
    #error_explanation
      %h2= "#{pluralize(f.object.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - f.object.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :bio
    = f.text_area :body
  .field
    = f.label :avatar, "Profile Picture"
    = f.file_field :avatar
    - if f.object.avatar.attached?
      = image_tag f.object.avatar.variant(resize_to_limit: [400, 400])
  = link_to 'Edit user settings', edit_user_registration_path, class: "button"
  .actions
    = f.submit 'Save', class: 'button'
