%h1 Every User
- @users.each do |user|
  .callout
    = user.username
    %br/
    Bio =
    = user.body
    %br/
    How long the user has joind us for
    = time_ago_in_words(user.created_at)
    %br/
    = user.username
    Profile
    = link_to "Users Profile", user_path(user)
    %br/
    Follow/Unfollow
    = user.username
    = render 'follow_form', user: user if user_signed_in?
    %br/
    - if current_user.role == "admin"
      Delete user
      %br/
      %h6= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Really delete this user? What did they do." }
