%h1= @user.username

- if @user.avatar.attached?
  = image_tag @user.avatar.variant(resize_to_limit: [400, 400])

%h3 Posts form this user

- @posts.each do |post|
  .callout
    = post.content
    %br/
    = link_to 'Comments', post
    = link_to 'Destroy', post, method: :delete,
    data: { confirm: 'Are you sure? You do know this is not comeing back' } if current_user == post.user
    %br/
%br

= link_to 'Edit profile', edit_user_path(@user), class:"button" if current_user == @user


- if current_user.role == "admin"
  %h6= link_to "Delete", user_path, method: :delete, data: { confirm: "Really delete this user? What did they do." }, class: "button"
