.row
  %aside.col-md-4
    %section.user_info
      %h1= @user.username
      %span= link_to "view my profile", @user
      %span
        %b Posts:
        = @user.posts.count
    %section.stats
      = render 'shared/stats'
  .col-md-8
    %h3= @title
    - if @users.any?
      %ul.users.follow
        = render @users
