.grid-x
  .medium-6.cell

    %h3= @user.username

    - if @user.avatar.attached?
      = image_tag @user.avatar.variant(resize_to_limit: [200, 200])

    %section.stats= render 'shared/stats'
    = render 'follow_form', user: @user if user_signed_in?
  .medium-6.cell
    %h3
      Posts form this user (#{@user.posts.count})

    - @user.posts.each do |post|
      .callout
        .center
        - if post.picture.attached?
          .thumbnail= image_tag post.picture.variant(resize: "200x200")
        %br/
        = post.content
        %br/
        = link_to 'Comments', post, class: "button"
        = link_to 'Destroy', post, method: :delete,
        data: { confirm: 'Are you sure? You do know this is not comeing back' }, class: "button" if current_user?(post.user)
        %br/
    %br
.grid-x
  .medium-6.cell
    %br/
    %h3 User's Story
    - @dps.each do |story|
      .callout
        .center
          -  if story.picture.attached?
            .thumbnail= image_tag story.picture.variant(resize: "200x200")
        %br/
        = story.content
        %br/
        = time_ago_in_words(story.created_at)
        ago
        %br/
  .medium-6.cell
    %br/
    %h3 Articles form this user (#{@user.articles.count})
    - @articles.each do |article|
      .callout
        Article's Title =
        = article.title
        %br/
        Article's Description =
        = article.description
        %br/
        Article's type of article =
        = article.articleused
        %br/
        How long ago the article was created at
        = time_ago_in_words(article.created_at)
        %br/
        To read the article
        = link_to 'Read', article_path(article)
        %br/
        = link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "button" if current_user?(article.user)
        %br/
%br/
%h3 About this User
.callout
  %p= @user.body
  %br/

- if current_user.role == "admin"
  %h6= link_to "Delete", user_path, method: :delete, data: { confirm: "Really delete this user? What did they do." }, class: "button"
