.grid-x
  .medium-4.cell
    .row
      %aside.col-md-5
        %section.user_info
          %h1= @user.username
          %br/
          %h6= link_to "view my profile", @user
          %br/
          %span
            %b Posts:
            = @user.posts.count
            %br/
            - if @user.avatar.attached?
              = image_tag @user.avatar.variant(resize_to_limit: [200, 200])
        %section.stats
          = render 'shared/stats'
  .medium-7.cell
    .col-md-8
      %h3= @title
      - if @users.any?
        %ul.users.follow
          .callout
            = render @users
