- if current_user.role == "banned"
  = render "shared/banned"
- else
  = form_for @story do |f|
    - if f.object.errors.any?
      #error_explanation
        %h2
          = "#{pluralize(f.object.errors.count, "error")} prohibited this story from being posted:"
        %ul
          - f.object.errors.full_messages.each do |message|
            %li
              = message
    .field
      %p #{@user.stories.count} is your how many story(s) count.
      = f.label :content
      = f.text_area :content, rows: 1
    %span.picture
      (Picture or Video)
      = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,video/mp4,video/mov,video/webm', direct_upload: true
    %br/
    .actions
      = f.submit "Post", class: 'button'
  :javascript
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 500) {
        alert('Maximum file size is 500MB. Please choose a smaller file.');
      }
    });
