.grid-x
  .medium-4.cell
    %h3= @user.username
    - if @user.avatar.attached?
      = image_tag @user.avatar.variant(resize_to_fill: [150, 150])
    %section.stats= render 'shared/stats'
    = render 'form'
  .medium-8.cell
    %h1 Everyones Stories
    - @dps.each do |story|
      .callout
        = link_to user_path(story.user), class: "box" do
          = image_tag story.user.avatar.variant(resize_to_fill: [60, 60]) if story.user.avatar.attached?
          = story.user.username
        %br/
        .center
          -  if story.picture.attached?
            .thumbnail= image_tag story.picture.variant(resize: "200x200")
        %br/
        = story.content
        %br/
        = time_ago_in_words(story.created_at)
        ago
        %br/
        = link_to 'Destroy', dissaperingposts_path(story), method: :delete, data: { confirm: 'Are you sure? You do know this is not comeing back' }, class: "dude" if current_user?(story.user)
        %br/
