= form_for @help do |f|
  %p
    = f.label :Your_email
    %br/
    (If we see this is not in are database then WE CAN'T HELP YOU.)
    = f.text_field :email
  %p
    = f.label :Or_By_Phone
    %br/
    = f.text_area :number
  %p
    = f.label :And_what_you_need_help_with
    %br/
    =f.text_field :with
  %p
    = f.submit class: "button"
