- if user_signed_in?
  %h1 Welcome back
  .grid-x
    .medium-6.cell
      %h3= current_user.username
      %h5 You have
      = render "shared/stats"
    .medium-6.cell.space
      %h5
        Check out some
        = link_to "posts,", posts_path
        check out some of the
        = link_to "chat rooms,", rooms_path
        or check out
        = link_to "your messages.", conversations_path
      = image_tag('lions.jpeg')

-else
  %h1 Welcome to Lion Social
  %h5
    Are you going to
    = link_to 'Sign up', new_user_registration_path
    or are you going to
    = link_to 'Log in', new_user_session_path
    ?
  %br/
  .grid-x
    .medium-6.cell
      = image_tag('home.jpeg')
    .medium-6.cell.space
      = image_tag('lion.png')
