- @abouts.each do |about|
  %br/
  %h1= about.title
  %br/
  %h4= about.ltoppara
  %br/
  %h4= about.lchange
  %h6= about.llist1
  %h6= about.llist2
  %h6= about.llist3
  %br/
  %p= link_to "#{about.lgithubtitle}", about.llinkgithub, target: :_blank
  %br/
  %h5= about.lbuttum
  %br/
