.grid-x
  .medium-4.cell
    - if current_user.role == "bad_user"
      = render "shared/banned"
    - else
      %h3= @user.username
      - if @user.avatar.attached?
        = image_tag @user.avatar.variant(resize_to_fill: [150, 150])
      %section.stats= render 'shared/stats'
      %br/
      %div
        = render "form"
  .medium-8.cell
    %h4 Join any chat room that is shown on the left or make your own.
    %br/
    = render partial: 'rooms'
