.grid-x
  .small-4.cell
    %h3= @user.username
    - if @user.avatar.attached?
      = image_tag @user.avatar.variant(resize_to_limit: [200, 200])
    %section.stats= render 'shared/stats'
    = render 'form'
  .small-8.cell
    %h1 Everyones Posts
    - @posts.each do |post|
      .callout
        = link_to user_path(post.user), class: "box" do
          = image_tag post.user.avatar.variant(resize_to_fill: [40, 40]) if post.user.avatar.attached?
          = post.user.username
        %br/
        .center
          .thumbnail= image_tag post.picture if post.picture.attached?
        %br/
        = post.content
        %br/
        = link_to 'Comments', post, class: "dude"
        = link_to 'Destroy', post, method: :delete,
        data: { confirm: 'Are you sure? You do know this is not comeing back' }, class: "dude" if current_user?(post.user)
        %br/
    %br

// Old layout
// %h1 Everyones Posts
// - @posts.each do |post|
//   .callout
//     = link_to user_path(post.user), class: "box" do
//       = image_tag post.user.avatar.variant(resize_to_fill: [40, 40]) if post.user.avatar.attached?
//       = post.user.username
//     %br/
//     = post.content
//     %br/
//     = link_to 'Comments', post, class: "dude"
//     = link_to 'Destroy', post, method: :delete,
//     data: { confirm: 'Are you sure? You do know this is not comeing back' }, class: "dude" if current_user?(post.user)
//     %br/
// %br
// = link_to 'New Post', new_post_path, class:"button"
