.grid-x
  .medium-4.cell
    %h3= @user.username
    - if @user.avatar.attached?
      = image_tag @user.avatar.variant(resize_to_fill: [150, 150])
    %section.stats= render 'shared/stats'
    = render 'form'
  .medium-8.cell
    %h1 Everyones Posts
    %h6 If you want to see people's stories
    = link_to "Stories", dissaperingposts_path, class: "button"
    - @posts.each do |post|
      .callout
        = link_to user_path(post.user), class: "box" do
          = image_tag post.user.avatar.variant(resize_to_fill: [60, 60]) if post.user.avatar.attached?
          = post.user.username
        %br/
        .center
          -  if post.picture.attached?
            .thumbnail= image_tag post.picture.variant(resize: "200x200")
          %br/
          - if post.video.attached?
            = video_tag rails_blob_path(post.video), controls: true, class: "small"

        %br/
        = post.content
        %br/
        = time_ago_in_words(post.created_at)
        ago
        %br/
        = link_to 'Comments', post
        = (post.comments.count)
        %br/
        = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure? You do know this is not comeing back' }, class: "dude" if current_user?(post.user)
        %br/
    %br
