%h1 Welcome to Lion Social
- if user_signed_in?
  .grid-x
    .medium-6.cell
      %h3
        Welcome Back
        = current_user.username
      %h5 You may chose what you would like to do.
      %br/
      %h5 You have
      %section.stats= render 'shared/stats'
    .medium-6.cell
      %h4 Would you like to view articles.
      %h4= link_to "Articles", articles_path, class:"button"
  %br/
  %br/
  .grid-x
    .medium-6.cell
      %h4 Would you like to view posts.
      %h4= link_to "Posts", posts_path, class: "button"
    .medium-6.cell
      - if current_user.role == "bad_user"
        = render "banned"
      - else
        %h4 Join a Chat Room.
        %h4= link_to "Chat Rooms", rooms_path, class: "button"

- else
  %h5 Please consider hitting the sign up or the sign in button to get started.
  %br/
  %h5 If your are here to read some articles click #{link_to "here", articles_path}
  = link_to "Sign Up/Log In", user_session_path, class: "button"
  = image_pack_tag("home_lion.jpg")
