%h1 Alberto Sordi
%h3 Background Information
%h5 He was born on June 15, 1920 and died on  February 24, 2003. He was born in Rome, Italy.
%h3 Why was he famous?
%h5 Alberto Sordi is famous because he is an actor. He has starred in more than 200 movies in his lifetime. He is also famous for his event that happened after he died. Another thing why he is because he is also a director.
%h3 What did he contributed to Italy?
%h5 Things that he has contributed to Italy was making Italian comedy famous worldwide. He is one of the most beloved actors in Italy.  During his time alvie he has made many italians laugh while watching his movies.  He has brought happiness to many people in Italy.
%h3 The event in his home town for him.
%h5 On the occasion of his birth centenary his house was opened to the public for the first time hosting the first exhibition in his hometown.
%h3 Ten interesting facts
%ol
  %h5
    %li He has a shopping mall named after him.
    %li He has starred in more than 200 movies.
    %li He first appeared on stage at 10 years old which was the start of his career.
    %li Some movies he was in were also directed by him.
    %li He won an Oliver Hardy look-alike competition while in his teens.
    %li The city of Rome nominated him honorary mayor for a day to celebrate his 80th birthday.
    %li Less than a week after his death, Rome's mayor renamed one of the main central gallery streets after him.
    %li Had a remarkable skill at regional accents, although his characters would often showcase his natural Roman one.
    %li Often played morally unscrupulous characters prone to quickly switch political sides and reinvent themselves out of convenience.
    %li His masterful way of slightly contaminating his dramatic performances with demented elements from his comedic repertoire.
%h3 Pictures
.grid-x
  .medium-2.cell
    = image_pack_tag("alberto_sordi.png")
    %br/
    %p Alberto Sordi
  .medium-2.cell
    = image_pack_tag("il_boom.png")
    %br/
    %p The Boom one of his movies.
  .medium-2.cell
    = image_pack_tag("an_american_in_rome.png")
    %br/
    %p An American in Rome one of his movies.
  .medium-2.cell
    = image_pack_tag("an_average_little_man.png")
    %br/
    %p An Average Little Man one of his movies.
  .medium-2.cell
    = image_pack_tag("alberto_sordi_house.png")
    %br/
    %p Alberto Sordi's house.
%h3 Sources
%h5
  = link_to "gstatic.com", "https://www.gstatic.com/tv/thumb/persons/3110/3110_v9_ba.jpg", target: :blank
  ,
  = link_to "encrypted-tbn0.gstatic.com", "https://www.encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMsMbYolBqywEuQ9r6Do4qRs8YoSboXyc5TeCQ_LmUJPapVsvE", target: :blank
  ,
  = link_to "italianways.com", "https://www.italianways.com/alberto-sordis-home-and-masterpieces/", target: :blank
  ,
  = link_to "amazon.com", "https://www.amazon.com/Americano-Roma-Italian/dp/B000L425DU", target: :blank
  ,
  = link_to "en.wikipedia.org", "https://en.wikipedia.org/wiki/An_Average_Little_Man", target: :blank
  , For the picture not facts
  ,
  = link_to "tripadvisor.com", "https://www.tripadvisor.com/Attraction_Review-g187791-d2422079-Reviews-or10-Galleria_Alberto_Sordi-Rome_Lazio.html", target: :blank
  ,
  = link_to "nytimes.com", "https://www.nytimes.com/2003/02/26/arts/alberto-sordi-82-a-film-star-exuberant-in-italian-comedies.html#:~:text=The%20actor%20Alberto%20Sordi%2C%20who,at%20his%20home%20in%20Rome.&text=He%20studied%20drama%20in%20Milan,that%20would%20become%20his%20trademark. ", target: :blank
  ,
  = link_to "independent.co.uk", "https://www.independent.co.uk/news/obituaries/alberto-sordi-36300.html", target: :blank
  and
  = link_to "imdb.com", "https://www.imdb.com/name/nm0814773/bio", target: :blank
