%h1 Bob Gibson
%h3 Backgroud Information
%h5 He was born on November 9, 1935. His hometown was  Omaha, Nebraska. He went to Creighton University.
%h3 Obstacles/Hardships
%h5 He suffered from asthma and hay fever. His walk totals were unacceptably high: 69 free passes in 87 innings in 1960. He had trouble throwing it over the plate with any consistency at the beginning of his career.
%h3 Achievements
%h5 This person is known for playing baseball. He has earned many awards during his career. Gibson's 1968 season was the greatest pitching achievement since the pre-1920 "dead ball" era.
%h3 Pictures
.grid-x
  .medium-4.cell
    = image_pack_tag("bob_gibson.png")
    %br/
    %p Bob Gibson
  .medium-4.cell
    = image_pack_tag("bob_gibson_baseball.png")
    %br/
    %p Bob Gibson playing baseball.
  .medium-4.cell
    = image_pack_tag("bob_gibson_coach.png")
    %br/
    %p Bob Gibson as a coach.
%h3 Links to Facts/Pictures Used
%h5
  = link_to "britannica.com", "https://www.britannica.com/biography/Bob-Gibson", target: :blank
  and
  = link_to "baseball-almanac.com", "https://www.baseball-almanac.com/players/awards.php?p=gibsobo01", target: :blank
