%h1 Calabria
%h3 ⚽Things to do in Calabria⚽
%h5 You can go windsurfing in the ocean in Calabria in the warm climate. Kite-surfing on the many nice beaches in Calabria. Lao Rafting you can admire the Great Gorges of the Lao River. You can visit Creazioni Artistiche Il Faro. It's one of the many history museums for all you people that love your history. If you want to do kid-friendly things I suggest going to AcquaPark Odissea 2000 is a water park where you can go swimming and go on water slides.
%h3 Interesting facts about Calabria.
%h5 Calabria was an important and strategic part of the Greek Empire known as the Magna Graecia which was around in the 5th to 8th centuries BCE. Calabria is the main producer and consumer of the peperoncino, which is a chili pepper only grown in Calabria, Calabrian chili peppers are eaten every way imaginable. Steven Tyler, the lead singer of Aerosmith, has roots in the Calabrian town of Cotronei. Calabria has four mountain ranges. Calabria also produces about one-third of Italy’s olive oil which if you think about it that is a lot.
%h3 Pictures of some of the things mentioned
.grid-x
  .medium-2.cell
    = image_pack_tag("CalabriaItaly1.png")
  .medium-2.cell
    = image_pack_tag("CalabriaItaly2.png")
  .medium-2.cell
    = image_pack_tag("CalabriaItaly3.png")
  .medium-2.cell
    = image_pack_tag("CalabriaItaly4.png")
  .medium-2.cell
    = image_pack_tag("CalabriaItaly5.png")
