%h1 Garrett Morgan
%h3 Background information.
%h5 He was born on March 4 1877. He died on July 27, 1963. He was born at Claysville, Kentucky
%h3 His education and field of study.
%h5 His education was only at this elementary school. Hist field of study was inventions. He also hired a private tutor to teach him.
%h3 Information about Garrett
%h5 Garrett when growing up helped out on the farm with his parents. When he was a teen he moved to go find work and he found work as a handyman. He started his own business when an adult and it was successful. He invented the first gas mask which was used in WW1.
%h3 Garrett Morgan to some people
%h5 One of the reasons why we think Garrett is famous for is his gas masks because they helped save soldiers of WW1. Garrett saved many lives from the harmful gases from the war. In are opinion he should be the war hero of WW1 because he saved many lives with his inventions. 1914 is when he invented the gas mask in the United States. 
%h3 Pictures
.grid-x
  .medium-3.cell
    = image_pack_tag("GarrettMorgan.png")
  .medium-3.cell
    = image_pack_tag("GarrettMorganGasMask.png")
  .medium-3.cell
    = image_pack_tag("GarrettMorganGasMaskHim.png")

%h3 Sorces
%h5
  = link_to "biography.com" , "https://www.biography.com/inventor/garrett-morgan", target: :blank
  ,
  and
  = link_to "transportation.gov", "https://www.transportation.gov/connections/garrett-augustus-morgan-inventor-gas-mask-and-traffic-signal#:~:text=But%20Morgan's%20most%20prolific%20accomplishments,the%20idea%20really%20took%20off.", target: :blank
