.noprint
  %footer.footer
    %small
      %h3
        %a{:href => "https://lionsocial.herokuapp.com"} Lion Socail
        by The Lion
    %nav
      %ul
        - if user_signed_in?
          %li= link_to "Leave a Suggestion", new_suggestion_path
          %li= link_to "Report a User", new_baduser_path
          %li= link_to "Report a Error", new_error_path
          %li= link_to "Help", new_help_path
        %li= link_to "About", abouts_path
