.noprint
  .top-bar
    .top-bar-left
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        %li
          %h4= link_to 'Home', root_path

    .top-bar-right
      %ul.menu
        - if user_signed_in?
          %li= link_to current_user.username , user_path(current_user)
          %li= link_to "Users", users_path
          %li= link_to 'Edit Profile', edit_user_path(current_user)
          %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
        - if current_user.role == "admin"
          %li= link_to 'Errors', errors_path
