!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"}/
    // Google
    %meta{:content => "5hD3M8v8vsXsquiHT3hD57CNbT4mjzw4GMDj5otwaTY", :name => "google-site-verification"}/
    %title Lion Social
    = favicon_link_tag asset_pack_path('media/images/favicon.ico')
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    %br/
    .noprint
      - flash.each do |name, msg|
        .callout
          %ul
            %li= msg
    .grid-container
      = yield
    = render 'layouts/footer'
